.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.td {
  width: 100px;
  text-align: start;
}

.lastTD {
  width: 140px;
}

.export {
  margin-top: 20px;
}